.player-container {
  margin-top: auto;
  margin-bottom: 25px;

  flex: 0 0 75px;

  .player {
    height: 75px;
    
    @extend .white-block;

    display: flex;
    align-items: center;

    .player-buttons {
      @include span-columns(3);
      padding: 0 20px;
      .player-button {
        @include span-columns(4);
        font-size: 1.9em;
        text-align: center;
        cursor: pointer;
        color: tint($base-black, 15%);

        &.inactive {
          color: tint($base-black, 75%);
        }

        &:hover:not(.inactive) {
          color: $base-black;
        }

        .fa-play {
          padding-left: 3px;
        }
      }
    }

    .player-seeker {
      @include span-columns(7);
    }

    .player-volume {
      @include span-columns(2);
      height: 24px;
    }
  }
}