.playlist-container {
  margin-top: 25px;
  margin-bottom: 25px;

  @extend .white-block;
  flex: 0 1 auto;
  overflow-y: scroll;

  .playlist {

    padding: 10px 0;

    height: 100%;

    .track {
      width: 100%;
      height: 40px;
      line-height: 26px;
      padding: 7px 10px;

      display: flex;
      justify-content: space-between;

      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;

      user-select: none;

      cursor: pointer;

      &.active {
        background: #333;
        color: #fff;

        &:hover {
          background: #333;
        }
      }

      &:hover {
        background: #eee;
      }

      .playing-icon {
        width: 18px;
        line-height: 26px;
        visibility: hidden;
      }

      &.active.is-playing {
        .playing-icon {
          visibility: visible;
        }
      }

      .track-name {
        display: inline-block;
        width: 100%;
        overflow: hidden;
        text-overflow: ellipsis;
        padding-right: 10px;
        padding-left: 5px;
      }

      .track-info {
        color: lighten($base-black, 50%);
        float: right;
        padding-right: 18px;
        align-self: flex-end;
      }

      // .track-name {
        // text-overflow: ellipsis;
        // white-space: nowrap;
        // overflow: hidden;
      //   display:inline-block;
      //    @include span-columns(9);
      // }
    }
  }
}