.tools-container {
  margin-top: 25px;

  flex: 0 0 auto;

  .tools {
    @extend .white-block;

    padding: 25px 20px;

    .date {
      text-align: center;
      font-family: Helvetica, sans-serif;
      font-size: 2em;
      font-weight: 300;
      margin-bottom: 5px;
    }
  }
}